<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Attendance Table</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
</head>
<body>

<header th:insert="blocks/header :: header"></header>

<div>
    <table border="1">
        <tr>
            <th>Department</th>
            <th>Attendance List</th>
        </tr>
        <tr>
            <th>
                <div th:insert = "blocks/dpts :: dpts"></div>
            </th>
            <th>
                <table border="1">
                    <tr>
                        <th>
                            <a>Dates | Names</a><br>
                        </th>
                        <th th:each="el : ${cols}">
                            <a th:text="${el.date}"></a>
                        </th>
                    </tr>
                    <tr th:each="el : ${employees}">
                        <th>
                            <a th:text="${el}"></a>
                        </th>
                        <th th:each="el : ${cols}">
                            <a th:text="${el.tag}"></a>
                        </th>
                    </tr>
                </table>
            </th>
        </tr>
    </table>

</div>


<footer th:insert="blocks/footer :: footer"></footer>

</body>
</html>