<div th:fragment="months">
    <form action="">
        <button type="submit" class="btn btn-success">Январь</button>
    </form>
    <form action="">
        <button type="submit" class="btn btn-success">Февраль</button>
    </form>
    <form action="">
        <button type="submit" class="btn btn-success">Март</button>
    </form>
    <form action="">
        <button type="submit" class="btn btn-success">Апрель</button>
    </form>
    <form action="">
        <button type="submit" class="btn btn-success">Май</button>
    </form>
    <form action="">
        <button type="submit" class="btn btn-success">Июнь</button>
    </form>
    <form action="">
        <button type="submit" class="btn btn-success">Июль</button>
    </form>
    <form action="">
        <button type="submit" class="btn btn-success">Август</button>
    </form>
    <form action="">
        <button type="submit" class="btn btn-success">Сентябрь</button>
    </form>
    <form action="">
        <button type="submit" class="btn btn-success">Октябрь</button>
    </form>
    <form action="">
        <button type="submit" class="btn btn-success">Ноябрь</button>
    </form>
    <form action="">
        <button type="submit" class="btn btn-success">Декабрь</button>
    </form>
</div>